@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700;900&display=swap');
 :root {
  --primary-color: #FFEBC1;
  --secondary-color: #333;
  --light-color: #eeeeee;
  --dark-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--secondary-color);
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}